<!doctype html>
<html lang="ru">
    <%- include('components/head');  %>
    <body>
        <%- include('components/menu');  %>
        <div class="container my-3">
            <h1 class="text-center">Регистрация на сайте</h1>
            <div class="col-sm-6 mx-auto">
                <form onsubmit="sendForm(this); return false;" action="/reg" method="post" enctype="multipart/form-data">
                    <div class="mb-3">
                        <input type="text" name="name" class="form-control" placeholder="Имя">
                    </div>
                    <div class="mb-3">
                        <input type="text" name="lastname" class="form-control" placeholder="Фамилия">
                    </div>
                    <div class="mb-3">
                        <input type="email" name="email" class="form-control" placeholder="E-mail">
                        <p class="text-danger" hidden id="info">Такой пользователь уже существует</p>
                    </div>
                    <div class="mb-3">
                        <input type="password" name="pass" class="form-control" placeholder="Пароль">
                    </div>
                    <div class="mb-3">
                        <input type="submit" class="btn btn-primary form-control" value="Зарегистрироваться">
                    </div>
                </form>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
        <script>
            const info = document.getElementById('info');
            function sendForm(form){
                info.hidden = true;
                const formData = new FormData(form);
                fetch('/reg', {
                    method:"post",
                    body: formData
                }).then(response=>response.json())
                    .then(result=>{
                       if(result.result === 'exist'){
                           info.hidden = false;
                       }else if(result.result === 'success'){
                           location.href = "/login";
                       }
                    });
            }
        </script>
    </body>
</html>